/* Base Rules */

html {
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

figure {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

a {
    color: #2c7cf6;
    cursor: pointer;
    text-decoration: none;
}


/* Main Content */

.main {
    box-sizing: border-box;
    height: 100%;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

.main-flex>* {
    flex: 0 0 auto;
}


/* Sections */

.section {
    padding: 20px;
    overflow-x: auto;
}

.section+.section {
    border-top: 1px solid #cbcbcb;
}

.section-first,
.section-last {
    background-color: #f0f1f3;
    color: #000519;
}

.section-middle {
    background-color: #f9f8f9;
    padding: 0;
}

.section-last {
    flex: 1 0 auto;
}


/* Category List */

.category-list {
    display: flex;
    margin: 0;
    margin-left: -5px;
    padding-left: 0;
    list-style: none;
}

.category-list>li {
    display: inline-block;
    padding: 0 10px;
}

.category-icon {
    background-color: #2c7cf6;
    border-radius: 4px;
    height: 32px;
    width: 32px;
}

.category-name {
    display: none;
}


/* Location Detail */

.location-name {
    margin: 0 0 10px 0;
}

.location p {
    margin: 10px 0;
}

.location-tip {
    margin: 20px 0;
}


/* Map */

.map {
    height: 50vh;
}


/* Notification */

.notification {
    background-color: #d3d4d6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    right: 0;
    width: 80%;
}

.notification>p {
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    /* Main Content */

    .main-flex {
        flex-direction: row;
    }

    .main-flex>.section-first {
        flex: 1 0 128px;
    }

    .main-flex>.section-middle {
        flex: 1 1 768px;
    }

    .main-flex>.section-last {
        flex: 1 1 256px;
    }


    /* Sections */

    .section {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .section+.section {
        border-top: none;
        border-left: 1px solid #cbcbcb;
    }


    /* Map */

    .map {
        height: 100%;
    }


    /* Category List */

    .category-list {
        display: block;
        margin: 0;
        margin-top: -5px;
    }

    .category-list>li {
        display: list-item;
        padding: 10px 0;
    }

    .category-icon {
        display: none;
    }

    .category-name {
        display: inline;
    }


    /* Navigation */

    .notification {
        padding: 20px;
        width: 50%;
    }
}
